@charset "UTF-8";
    .navitem {
        font-size: 16pt;
        font-family: Homenaje, sans-serif;
    }
    .navbar-inverse .divider-vertical {
        border-right-color: #ff0050;
        border-left-color: #111111;
    }
    .navbar .divider-vertical {
        height: 50px;
        margin: 0 6px;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #f2f2f2;
    }
    .navcontact {
        font-size: 16pt;
        font-family: Homenaje, sans-serif;
    }
    .homeheader {
        text-align: center;
        font-family: Dafoe, sans-serif;
        font-size: 100pt;
        margin: -50pt;
        text-shadow: 4px 5px 4px #000000;
        color: #FFFFFF;
        background-image: url(https://hansonsprints.000webhostapp.com/pictures/headerBG.png)
    }
    .hansonHeader {
        text-align: center;
        font-family: Dafoe, sans-serif;
        font-size: 100pt;
        margin: -60pt;
        text-shadow: 5px 7px 5px #000000;
        color: #FFFFFF;
    }
    a:hover {
	    text-decoration: none;
	    transition: all 0.40s ease-in-out;
	    -webkit-transition: all 0.40s ease-in-out;
	    -moz-transition: all 0.40s ease-in-out;
	    -o-transition: all 0.50s ease-in-out;
	    text-shadow: 1px 1px 5px #fff, -1px -1px 5px #fff, 2px 2px 10px #fff, -2px -2px 20px #fff; color: #fff;
    }
    a:visited {
        text-decoration: none;
        color: #000;
    }
    .homedesc {
        font-size: 40pt;
        font-family: Homenaje, sans-serif;
        text-align: center;
        margin: 40pt;
        text-shadow: 4px 5px 4px #000;
        color: #FFFFFF;
    }
    .footer {
        font-size: 14pt;
        font-family: Homenaje, sans-serif;
        text-align: center;
        text-shadow: 4px 5px 4px #000;
        color: #FFFFFF;
    }
    .pgOne {
        text-align: center;
        font-size: 20pt;
        color: #000;
        font-family: Homenaje, sans-serif;
    }
    .bg {
        background: url(https://hansonsprints.000webhostapp.com/pictures/HansonsPrints.png);
        background-size: 2000px;
        overflow-x: hidden;
        background-attachment: fixed;
        background-repeat: repeat-y;
    }
    .logo {
        text-align: center;
        text-shadow: 4px 5px 4px #000;
    }
    .btnRequestP {
        text-align: center;
    }
    .btnRequest {
        text-align: center;
        font-size: 70pt;
        color: #fff;
        font-family: Dafoe, sans-serif;
        margin: 20pt;
        background-color: #fff;
        color: #000;
        padding: 75pt 200pt;
        border-radius: 15pt;
        border: 4px solid #000;
    }
    .btnRequest:hover {
	    text-decoration: none;
	    transition: all 0.40s ease-in-out;
	    -webkit-transition: all 0.40s ease-in-out;
	    -moz-transition: all 0.40s ease-in-out;
	    -o-transition: all 0.50s ease-in-out;
	    text-shadow: 1px 1px 5px #ff0050, -1px -1px 5px #ff0050, 2px 2px 10px #ff0050, -2px -2px 20px #ff0050; color: #000;
    }
    .pricing {
        font-size: 30pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    .pricingLarger {
        font-size: 30pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    .vary {
        font-size: 15pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 2px 3px 2px #000;
    }
    .pSub {
        font-size: 20pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
        margin-top: -30pt;
    }
    .cert {
        font-size: 25pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    .certPic {
        font-size: 25pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
        margin-top: -100px;
        margin-bottom: 20px;
    }
    .request {
        font-size: 30pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    .ship {
        font-size: 30pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    .shipL {
        font-size: 40pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    .mail {
        font-size: 22pt;
        text-align: left;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
        margin-left: 10pt;
        margin-top: -10pt;
    }
    .adLeft {
        margin-left: auto;
    }
    .photos {
        font-size: 25pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
        margin-top: -100px;
        margin-bottom: 20px;
    }
    .imgLeft {
        margin-left: 20px;
    }
    .prints {
        font-size: 30pt;
        text-align: center;
        font-family: Homenaje, sans-serif;
        color: #fff;
        text-shadow: 3px 4px 3px #000;
    }
    @font-face {
        font-family: "Dafoe";
        src: url('https://fonts.gstatic.com/s/mrdafoe/v5/uZ97Ol8ozFq27olhOMuMCPesZW2xOQ-xsNqO47m55DA.woff2'),
        url('https://fonts.gstatic.com/s/mrdafoe/v5/uZ97Ol8ozFq27olhOMuMCPesZW2xOQ-xsNqO47m55DA.woff2'); /* IE */
    }
    @font-face {
    font-family: "Homenaje";
    src: url("https://fonts.gstatic.com/l/font?kit=NXfSfQrYV8xV0ZhCOumchq2nQdMB71TB_rZTUiXPfJkZ3PKrsF8trnlDXSX4hGfu&skey=9b887fa224ab3cec&v=v6");
    }
</style>